## **Data Cleaning**

- Tratamento de dados
- Padronização de colunas
- Validação de relacionamentos

In [1]:
# notebook setup
# sys para interagir com o interpretador python
import sys
# pathlib facilita o trabalho com caminhos de arquivos e diretórios
from pathlib import Path

# adicionando a pasta raiz do projeto ao pythonpath
# permite a importação de módulos da pasta src
root_dir = Path().resolve().parent
sys.path.append(str(root_dir))

In [2]:
# importando bibliotecas
# pandas para manipulação e análise de dados
import pandas as pd
# funções para tratamento
from src.data_cleaning import rename_columns, convert_dates, validate_relationship
# funções de carregamento de dados 
from src.utils import load_data
from src.paths import products_raw_path, category_raw_path, stores_raw_path, sales_raw_path, warranty_raw_path

In [3]:
# carregando os dados
# tabela categorias
df_category = load_data(category_raw_path)
df_category.head(5)

  category_id category_name
0       CAT-1        Laptop
1       CAT-2         Audio
2       CAT-3        Tablet
3       CAT-4    Smartphone
4       CAT-5      Wearable

In [4]:
df_category.shape

(10, 2)

In [5]:
df_category.info()

<class 'pandas.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_id    10 non-null     str
 1   category_name  10 non-null     str
dtypes: str(2)
memory usage: 292.0 bytes

In [6]:
# verificando duplicatas
df_category['category_id'].duplicated().sum()

np.int64(0)

In [7]:
# tabela produtos
df_products = load_data(products_raw_path)
df_products.head(5)

  Product_ID         Product_Name Category_ID Launch_Date  Price
0        P-1              MacBook       CAT-1  2023-09-17   1149
1        P-2     MacBook Air (M1)       CAT-1  2023-11-11   1783
2        P-3     MacBook Air (M2)       CAT-1  2020-05-24   1588
3        P-4  MacBook Pro 13-inch       CAT-1  2021-01-17   1351
4        P-5  MacBook Pro 14-inch       CAT-1  2024-05-12    768

In [8]:
df_products.shape

(89, 5)

In [9]:
df_products.info()

<class 'pandas.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product_ID    89 non-null     str
 1   Product_Name  89 non-null     str
 2   Category_ID   89 non-null     str
 3   Launch_Date   89 non-null     str
 4   Price         89 non-null     int64
dtypes: int64(1), str(4)
memory usage: 3.6 KB

In [10]:
# padronização dos nomes das colunas
colunas = ['product_id', 'product_name', 'category_id', 'launch_date', 'price']
df_products = rename_columns(df_products, colunas)
df_products.columns

Index(['product_id', 'product_name', 'category_id', 'launch_date', 'price'], dtype='str')

In [11]:
# convertendo o tipo de dado da coluna lauch_date para datetime
df_products = convert_dates(
  df_products, 
  'launch_date', 
  fmt='%Y-%m-%d'
)
df_products.info()

<class 'pandas.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    89 non-null     str
 1   product_name  89 non-null     str
 2   category_id   89 non-null     str
 3   launch_date   89 non-null     datetime64[us]
 4   price         89 non-null     int64
dtypes: datetime64[us](1), int64(1), str(3)
memory usage: 3.6 KB

In [12]:
# verificando duplicatas 
df_products['product_id'].duplicated().sum()

np.int64(0)

In [13]:
# validando o relacionamento com a tabela category
invalidos =validate_relationship(
  df_products, 
  df_category, 
  'category_id'
)

Registros inválidos: 0

In [14]:
# tabelas lojas
df_stores = load_data(stores_raw_path)
df_stores.head(5)

  Store_ID             Store_Name           City        Country
0     ST-1     Apple Fifth Avenue       New York  United States
1     ST-2     Apple Union Square  San Francisco  United States
2     ST-3  Apple Michigan Avenue        Chicago  United States
3     ST-4        Apple The Grove    Los Angeles  United States
4     ST-5             Apple SoHo       New York  United States

In [15]:
df_stores.shape

(75, 4)

In [16]:
df_stores.info()

<class 'pandas.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Store_ID    75 non-null     str
 1   Store_Name  75 non-null     str
 2   City        75 non-null     str
 3   Country     75 non-null     str
dtypes: str(4)
memory usage: 2.5 KB

In [17]:
# padronização dos nomes das colunas
colunas = ['store_id', 'store_name', 'city', 'country']
df_stores = rename_columns(df_stores, colunas)
df_stores.columns

Index(['store_id', 'store_name', 'city', 'country'], dtype='str')

In [18]:
# verificando duplicatas
df_stores['store_id'].duplicated().sum()

np.int64(0)

In [19]:
# tabela vendas
df_sales = load_data(sales_raw_path)
df_sales.head(5)

     sale_id   sale_date store_id product_id  quantity
0    YG-8782  16-06-2023    ST-10       P-38        10
1  QX-999001  13-04-2022    ST-63       P-48        10
2   JG-46890  05-07-2021    ST-26       P-79         5
3    XJ-1731  20-07-2022    ST-15       P-24         9
4   FG-95080  18-03-2022    ST-35       P-69         7

In [20]:
df_sales.shape

(1040200, 5)

In [21]:
df_sales.info()

<class 'pandas.DataFrame'>
RangeIndex: 1040200 entries, 0 to 1040199
Data columns (total 5 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   sale_id     1040200 non-null  str
 1   sale_date   1040200 non-null  str
 2   store_id    1040200 non-null  str
 3   product_id  1040200 non-null  str
 4   quantity    1040200 non-null  int64
dtypes: int64(1), str(4)
memory usage: 39.7 MB

In [22]:
# convertendo o tipo de dado da coluna sale_date para datetime
df_sales = convert_dates(
  df_sales, 
  'sale_date', 
  fmt='%d-%m-%Y'
)
df_sales.info()

<class 'pandas.DataFrame'>
RangeIndex: 1040200 entries, 0 to 1040199
Data columns (total 5 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   sale_id     1040200 non-null  str
 1   sale_date   1040200 non-null  datetime64[us]
 2   store_id    1040200 non-null  str
 3   product_id  1040200 non-null  str
 4   quantity    1040200 non-null  int64
dtypes: datetime64[us](1), int64(1), str(3)
memory usage: 39.7 MB

In [23]:
# validando o relacionamento com a tabela products
invalidos = validate_relationship(
  df_sales, 
  df_products, 
  'product_id'
)

Registros inválidos: 0

In [24]:
# validando o relacionamento com a tabela stores
invalidos = validate_relationship(
  df_sales,
  df_stores,
  'store_id'
)

Registros inválidos: 0

In [25]:
# tabela pedidos de garantia
df_warranty = load_data(warranty_raw_path)
df_warranty.head(5)

   claim_id  claim_date    sale_id repair_status
0  CL-58750  2024-01-30    YG-8782     Completed
1   CL-8874  2024-06-25  QX-999001       Pending
2  CL-14486  2024-08-13   JG-46890       Pending
3  CL-42187  2024-09-19    XJ-1731       Pending
4  CL-37590  2024-09-16   FG-95080     Completed

In [26]:
df_warranty.shape

(30000, 4)

In [27]:
df_warranty.info()

<class 'pandas.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   claim_id       30000 non-null  str
 1   claim_date     30000 non-null  str
 2   sale_id        30000 non-null  str
 3   repair_status  30000 non-null  str
dtypes: str(4)
memory usage: 937.6 KB

In [28]:
# convertendo o tipo de dado da coluna claim_date para datetime
df_warranty = convert_dates(
  df_warranty, 
  'claim_date', 
  fmt='%Y-%m-%d'
)
df_warranty.info()

<class 'pandas.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   claim_id       30000 non-null  str
 1   claim_date     30000 non-null  datetime64[us]
 2   sale_id        30000 non-null  str
 3   repair_status  30000 non-null  str
dtypes: datetime64[us](1), str(3)
memory usage: 937.6 KB

In [29]:
# validando o relacionamento com a tabela sales
invalidos = validate_relationship(
  df_warranty, 
  df_sales,
  'sale_id'
)

Registros inválidos: 0

In [30]:
# salvando os dados tratados
# criando a pasta processed
processed_dir = root_dir / "data" / "processed"
processed_dir.mkdir(parents=True, exist_ok=True)

# caminho dos arquivos tratados
products_processed_path = processed_dir / "products_processed.csv"
stores_processed_path = processed_dir / "stores_processed.csv"
sales_processed_path = processed_dir / "sales_processed.csv"
warranty_processed_path = processed_dir / "warranty_processed.csv"

# salvando os df
df_products.to_csv(products_processed_path, sep=',', index=False)
df_stores.to_csv(stores_processed_path, sep=',', index=False)
df_sales.to_csv(sales_processed_path, sep=',', index=False)
df_warranty.to_csv(warranty_processed_path, sep=',', index=False)